**/__pycache__
processed_data_noise/
experiments/
**/*.pyc
models/encoders/__pycache__/__init__.cpython-37.pyc
models/encoders/__pycache__/mgcvae.cpython-37.pyc
models/encoders/__pycache__/model_utils.cpython-37.pyc
models/encoders/__pycache__/trajectron.cpython-37.pyc
models/encoders/components/__pycache__/__init__.cpython-37.pyc
models/encoders/components/__pycache__/additive_attention.cpython-37.pyc
models/encoders/components/__pycache__/discrete_latent.cpython-37.pyc
models/encoders/components/__pycache__/gmm2d.cpython-37.pyc
models/encoders/components/__pycache__/map_encoder.cpython-37.pyc
models/encoders/components/__pycache__/n_pair_loss.cpython-37.pyc
models/encoders/dynamics/__pycache__/__init__.cpython-37.pyc
models/encoders/dynamics/__pycache__/dynamic.cpython-37.pyc
models/encoders/dynamics/__pycache__/single_integrator.cpython-37.pyc
utils/__pycache__/model_registrar.cpython-37.pyc
utils/__pycache__/trajectron_hypers.cpython-37.pyc
